div
  p(style="text-align: center; margin-top: 20px; margin-bottom: 20px; font-weight: bold;") Welcome to Veteran Application
div
  p(style="text-align: center; margin-top: 20px; margin-bottom: 20px;") Here is your account details
div
  p First Name:
    span #{firstName}
  p Last Name:
    span #{lastName}
div
  p(style="text-align: center;") Thank you!!!
